body{
    color:white;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.container{
    background-color: rgb(31, 31, 31);
    display: grid;
    grid-template: max-content 1fr / 1fr 3fr;
    height: 100vh;
    width: 100%;
    /* ACOMODAR */
}

.header{
    grid-column: 1 / 3;
    background-color: rgb(43, 39, 39);
}

.add-books-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.9rem;
    padding: 1rem;
    font-size: 1.5rem;
}
.add-books-form > div{
    display: flex;
    flex-direction: column;
}
.is-read{
    flex-direction: row !important;
    gap: 30px;
}
.add-books-form > div > input[type="text"],
.add-books-form > div > input[type="number"] {
    font-size: 1.4rem;
}
.is-read > input {
    transform: scale(2);
}
.add-book-btn {
    font-size: inherit;
    padding: .5rem;
    border-style: none;
    box-shadow: 0 0 10px 5px grey;
    border-radius: 20px;
}

.books-display {
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(autofit, minmax(300px, 1fr));
    gap: 1rem;
}